/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif, "文泉驿正黑";
}
.bs-callout-info h4 {
    border-left-color: #1b809e;
}
.bs-callout-info {
    border-left-color: #1b809e;
}
.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}


.bs-callout-warning {
    border-left-color: #aa6708;
}

.bs-callout-warning h4 {
    color: #aa6708;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}